.container {
  align-items: center;
  /* align-self: center;
  align-content: center; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container img {
  margin-bottom: 104px;
  margin-top: 109px;
}

.container form {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 314px;
  padding: 94px;
  width: 697px;
}

.container input {
  border: 1px solid #e1e5eb;
  outline: none;
  padding: 12px 16px;
  width: 100%;
}

.container button {
  background-color: var(--accent);
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white);
  cursor: pointer;
  margin-top: 31px;
  padding: 8px 32px;
  width: 100%;
}

@media (max-width: 700px) {

  .container form {
    max-width: 90%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .container img {
    margin: 0;
    margin-bottom: 50px;
  }

  .container {
    margin-top: 50px;
  }
}